APP_NAME=JS Notebook
APP_ENV=dev
API_PREFIX=/api/v1
DATABASE_URL=postgresql://admin:changeme@localhost:5432/wiki
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
TOKEN_TTL_SECONDS=86400
SESSION_TTL_SECONDS=604800

# Настройки системы логирования
LOG_LEVEL=DEBUG
# В консоли видим логи от уровня DEBUG
LOG_LEVEL_CONSOLE=DEBUG
# В файлы пишутся логи от уровня INFO (для экономии места), новый файл (на текущую дату) создаётся в 00:00 UTC
LOG_LEVEL_FILE=INFO
# Количество дней хранения логов (то есть сколько файлов логов может храниться локально)
LOG_RETENTION_DAYS=14
